.footer {
  padding: 5px 0 0;
  background-color: var(--primary-color);
  background-color: #1da8b5;
  border-top: 2px solid rgb(102 102 102 / 23%);
}
.footer__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.footer__list li {
  position: relative;
  padding: 0 10px;
}
.footer__list li:not(:last-child)::before {
  content: "";
  position: absolute;
  right: -20px;
  top: 50%;
  width: 10px;
  height: 2px;
  background-color: var(--color-white);
  transform: translateY(-50%);
}
.footer__link {
  font-size: calc(16px + 2 * ((100vw - 320px) / 960));
  position: relative;
  padding-bottom: 5px;
  font-weight: 500;
  color: var(--color-white);
  text-transform: capitalize;
}
.footer__link::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-accent);
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.footer__link:hover::before {
  transform: scale(1);
}
.footer__copy {
  padding: 15px;
  color: var(--color-white);
  text-align: center;
  text-transform: capitalize;
  //   background-color: #8c311f;
}
